<h1 class="mt-4 text-center font-weight-bold">Dashboard</h1>
<p class="lead mb-3 text-center font-weight-bold">Welcome <%= user.name %>
</p>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <%- include('./partials/messages'); %>
            <form action="/user/<%= user._id %>/resetPassword" method="POST">
                <div class="form-group">
                    <label for="password">New Password :</label>
                    <input type="password" id="password" name="password" class="form-control"
                        placeholder="Password" />
                </div>
                <button type="submit" class="btn btn-primary btn-block">Reset Password</button>
            </form>
        </div>
    </div>
</div>
<p class="text-center mt-5"><a href="/user/logout" class="btn btn-secondary mt-5 col-md-2 m-auto">Logout</a></p>